<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Colbert Nation</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/videos.rss" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/hosted_jquery.js"></script>
    <!-- pretty photo lightbox -->
    <link rel="stylesheet" href="/stylesheets/hosted/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/javascripts/hosted/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

    
    <link type="text/css" rel="stylesheet" media="all" href="<%= stylesheet_url('base') %>"/>
      
  </head>
  <body>
    <div id="wrapper" style="min-width:980px;">
	  <div id="container" style="margin: 0 auto; width:980px">

      <img src="/stylesheets/hosted/inline_playback/colbert_header.png" />		